extends ../layout

block content
  h1 Create an account
  form.well.form-horizontal(method='POST', action='/users')
    - if (error)
      .alert.alert-error= error

    fieldset
      .control-group
        label.control-label Username
        .controls
          input(type='text', name='doc[_id]')

      .control-group
        label.control-label Password
        .controls
          input(type='password', name='passwd')

      .control-group
        label.control-label Confirm password
        .controls
          input(type='password', name='passwd_confirm')

      .control-group
        label.control-label First name
        .controls
          input(type='text', name='doc[firstname]')

      .control-group
        label.control-label Last name
        .controls
          input(type='text', name='doc[lastname]')

      .form-actions
        input.btn.btn-large.btn-primary(type='submit')